<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Source</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<nav>
			<a href="#">SOURCE</a>
			<ul>
				<li><a href="#">FirstLink</a></li>
				<li><a href="#">SecondLink</a></li>
				<li><a href="#">ThirdLink</a></li>
				<li><a href="#">FourthLink</a></li>
			</ul>
			<a href="#">Button</a>
		</nav>

		<main>
			<section>
				<span>Tagline</span>
				<h1>Source helps creators do more of what they love</h1>
				<form action="">
					<input type="text">
				</form>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</section>
			<section>
				<img src="#" alt="laptop">
			</section>
		</main>

		<section>
			<section>
				<img src="#" alt="logo">
				<h3>Feature one</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<a href="#">First link</a>
			</section>
			<section>
				<img src="#" alt="logo">
				<h3>Feature two</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<a href="#">Second link</a>
			</section>
			<section>
				<img src="#" alt="logo">
				<h3>Feature three</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<a href="#">Third link</a>
			</section>
			<section>
				<img src="#" alt="logo">
				<h3>Feature four</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<a href="#">Fourth link</a>
			</section>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html> 
