<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Level Ground</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<div>	
					<a href="#">CLASSES</a>
					<a href="#">HIRE US</a>
				</div>	
				<img src="#" alt="Logo">
				<a href="#">DONATE</a>
			</nav>
		</header>
 
		<main>
			<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsam aliquid dicta, quisquam iste odio vitae consectetur eos numquam expedita, nisi officia tempore voluptatem eius optio nobis quam, labore aliquam.</p>
			<a href="#">Watch the Video</a>
		</main>

		<section>
			<h1>WHY</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, nihil! Eaque enim animi rem earum porro distinctio fugiat, ipsa corporis veniam. Explicabo tempore placeat culpa, ratione exercitationem obcaecati unde accusantium.</p>
		</section>

		<section>
			<section>
				<img src="#" alt="grey background">
				<h2>VISIT THE GYM</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corporis, rerum excepturi veniam expedita odio libero! Aliquid sed earum non voluptatem aspernatur id at dolores. Quod maiores placeat amet blanditiis.</p>
				<a href="#">SEE CLASSES</a>
			</section>

			<section>
				<img src="#" alt="grey background">
				<h2>HAVE US VISIT YOU</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corporis, rerum excepturi veniam expedita odio libero! Aliquid sed earum non voluptatem aspernatur id at dolores. Quod maiores placeat amet blanditiis.</p>
				<a href="#">HIRE US</a>
			</section>
		</section>

		<section>
			<h1>VOLUNTEER WITH LEVEL GROUND</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque similique inventore accusamus mollitia quis nulla vitae soluta, totam impedit, saepe labore est expedita sit veniam ipsa esse earum atque assumenda.</p>
			<a href="#">VOLUNTEER</a>
		</section>

		<footer>
			<section>
				<ul>
					<li><img src="#" alt="Fcbok"></li>
					<li><img src="#" alt="Twtr"></li>
					<li><img src="#" alt="Mail"></li>
				</ul>
				<h6>SITE MAP</h6>
				<ul>
					<a href="#">Classes</a>
					<a href="#">Visit Us</a>
				</ul>
				<h6>CONTRIBUTE</h6>
				<ul>
					<a href="#">Give</a>
					<a href="#">Volunteer</a>
				</ul>
			</section>

			<section>
				<h4>LEVEL GROUND</h4>
				<h4>MIXED MARTIAL ARTS</h4>
				<p>50 Milk Street, Floor 17, Boston, MA, 02332, 333-333-4444</p>
				<span>email@gmail.com</span>
			</section>
			<section>
				<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
				<img src="#" alt="Logo">
			</section>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
