<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Tech Crunch</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<nav>
			<img src="tech.png" alt="Tech Crunch Logo">
			<a href="#">Login</a>
			<ul>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				<li><a href="#">Search Q</a></li>
				|
				<li><a href="#">Search Q</a></li>
			</ul>
		</nav>

		<main>
			<span>Extra Crunch</span>
			<h1>What China's FinTech market can teach the world</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<span>Somebody's name</span>
			<img src="#" alt="worker on computer">
		</main>

		<aside>
			<ul>
				<li><h1><a href="#">Lorem ipsum dolor, sit amet consectetur.</a></h1>
					<span>Somebody's name</span>
				</li>
				<li><h1><a href="#">Lorem ipsum dolor, sit amet consectetur.</a></h1>
					<span>Somebody's name</span>
				</li>
				<li><h1><a href="#">Lorem ipsum dolor, sit amet consectetur.</a></h1>
					<span>Somebody's name</span>
				</li>
				<li><h1><a href="#">Lorem ipsum dolor, sit amet consectetur.</a></h1>
					<span>Somebody's name</span>
				</li>
			</ul>
		</aside>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
