<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>BBC</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<img src="#" alt="BBC Logo">
				<a href="#">Sign in</a>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
				</ul>
				<form action="">
					<input type="text">
				</form>
			</nav>
		</header> 
		<main>
			<h3>Welcome to BBC.com</h3>
			<section>
				<img src="#" alt="Two people">
				<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab voluptatum dicta, ipsa repellat ratione earum ipsam eos.</p>
				<span>Middle East</span>
			</section>
			<section>
				<section>
					<img src="#" alt="Smt">
					<h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
					<span>CANADA</span>
				</section>
				<section>
					<img src="#" alt="Smt">
					<h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
					<span>CANADA</span>
				</section>
				<section>
					<img src="#" alt="Smt">
					<h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
					<span>CANADA</span>
				</section>
				<section>
					<img src="#" alt="Smt">
					<h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
					<span>CANADA</span>
				</section>
			</section>
		</main>

		<section>
			<h3>News</h3>
			<section>
				<img src="#" alt="Joe">
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi officia, culpa numquam, modi esse consequuntur nihil harum.</p>
				<span>US ELECTION 2020</span>
			</section>
			<section>
				<img src="#" alt="Joe">
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi officia, culpa numquam, modi esse consequuntur nihil harum.</p>
				<span>US ELECTION 2020</span>
			</section>
			<section>
				<img src="#" alt="Joe">
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi officia, culpa numquam, modi esse consequuntur nihil harum.</p>
				<span>US ELECTION 2020</span>
			</section>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
